trigger:
  branches:
    include:
      - dev

pr: none

pool:
  vmImage: 'ubuntu-latest'

stages:
  - stage: Build
    displayName: Build image
    jobs:
      - job: Build
        displayName: Build and push the Docker image
        steps:
          - task: Docker@1
            displayName: 'Build and push the Docker image'
            inputs:
              containerregistrytype: 'Container Registry'
              dockerRegistryEndpoint: 'DockerHub'
              command: 'Build an image'
              dockerFile: '**/Dockerfile'
              imageName: '$(ImageName)'
              useDefaultContext: false
              buildContext: '.'
          - task: Docker@1
            displayName: 'Push the Docker image to Dockerhub'
            inputs:
              containerregistrytype: 'Container Registry'
              dockerRegistryEndpoint: 'DockerHub'
              command: 'Push an image'
              imageName: '$(ImageName)'